
@{
    ViewData["Title"] = "Reg";
}



<a class="nav-link text-dark" asp-area="" asp-controller="Buyer" asp-action="BuyerRegister" >BuyerRegistration</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Seller" asp-action="SellerRegister" >SellerRegistration</a>
