@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "CreateDashBoard";
}

<h1>CreateDashBoard</h1>
<h4 class="text-right text-primary"><a asp-action="Logout" asp-controller="UserAccount">Logout</a></h4>
@*<h3 class="text-right text-danger">Welcome @ViewBag.uname</h3>*@
@if (Context.Session.GetString("UName") != null)
{
    <h3 class="text-right text-danger">@Context.Session.GetString("UName").ToString()</h3>
}

<h3 class="text-right text-danger">your last login @ViewBag.lldt</h3>
